# Description and Goal

This project performs cleaning, EDA, and modelling to the BlueBikes bicycle sharing system data from 20xx to 20xx found [here](https://bluebikes.com/system-data)

| Column (From website)      |
| ----------- |
| Trip Duration (seconds) |
| Start Time and Date |
| Stop Time and Date |
| Start Station Name & ID |
| End Station Name & ID |
| Bike ID |
| User Type (Casual = Single Trip or Day Pass user; Member = Annual or Monthly Member) |

# Load and Clean Data

Step 1: Preprocessing (in Python/Pandas)

Let's load data. Lots of files from the website that we need to standardize column names for and concatenate into one csv file?
- Loop through CSVs, inspect column names, standardize them.
- Concatenate all into one big DataFrame.
- Clean data (e.g., fix datetime parsing, column types, missing values).

In [186]:
import pandas as pd

In [187]:
start_path = "/Users/ellawang/Documents/GitHub/bike_csv_files/"
old_end_path = "-hubway-tripdata.csv"
new_end_path = "-bluebikes-tripdata.csv"
yr_15 = ["2015" + str(i).zfill(2) + old_end_path for i in range(1, 13)]
yr_16 = ["2016" + str(i).zfill(2) + old_end_path for i in range(1, 13)]
yr_17 = ["2017" + str(i).zfill(2) + old_end_path for i in range(1, 13)]
yr_18_1 = ["2018" + str(i).zfill(2) + old_end_path for i in range(1, 5)] 
    # note 1801-1803 i had to manually replace _ with - in the names
    # after 1805 hubway-->bluebikes
yr_18_2 = ["2018" + str(i).zfill(2) + new_end_path for i in range(5, 13)] 
yr_19 = ["2019" + str(i).zfill(2) + new_end_path for i in range(1, 13)]
yr_20 = ["2020" + str(i).zfill(2) + new_end_path for i in range(1, 13)]
yr_21 = ["2021" + str(i).zfill(2) + new_end_path for i in range(1, 13)]
yr_22 = ["2022" + str(i).zfill(2) + new_end_path for i in range(1, 13)]
yr_23 = ["2023" + str(i).zfill(2) + new_end_path for i in range(1, 13)]
yr_24 = ["2024" + str(i).zfill(2) + new_end_path for i in range(1, 13)]
yr_25 = ["2025" + str(i).zfill(2) + new_end_path for i in range(1, 7)]
pathways = yr_15 + yr_16 + yr_17 + yr_18_1 + yr_18_2 + yr_19 + yr_20 + yr_21 + yr_22 + yr_23 + yr_24 + yr_25

# condense this shii

In [188]:
# # give us a peak into the columns and formats/datatypes of each file
# num_total_rows = 0
# col_count = {}
# for path in pathways:
#     df = pd.read_csv(start_path + path)
#     print(f'{path}: {df.columns} : {df.shape[0]} rows')
#     num_total_rows += df.shape[0]
#     print(df.iloc[0])
#     for col in df.columns:
#         if col not in col_count:
#             col_count[col] = 0
#         col_count[col] += 1

# print(col_count)
# print(f'Num total rows: {num_total_rows}')

# # saved to "output.txt" so don't have to re-run

We see inconsistent naming conventions. investigated into output of the print statements printing one line from each file to see which columns are the same and of those which are reformatted and also which columns like dropped before or after a certain point

Column names in 99 files (201501 until 202303 (including final yr/mo))
- 'tripduration': 99 (ends in 202303) (e.g. 1105) -- DROPPING tentatively?
- 'bikeid': 99, (ends in 202304) (e.g. 6680) -- DROPPING tentatively?
- 'starttime': 99 (turns into started_at beg. 202304) (e.g. 2023-03-01 00:00:44.1520 --> 2023-04-13 13:49:59)
- 'stoptime': 99 (turns into ended_at beg. 202304)
- 'start station id': 99 (turns into start_station_id beg. 202304) (e.g. 386 --> A32011)
- 'start station name': 99, (turns into start_station_name beg. 202304) (e.g. Central Square at Mass Ave / Essex St --> seems to stay same!)
- start station latitude': 99, (turns into start_lat beg. 202304) (e.g. 42.368605 --> 42.363713 stays the same!)
- 'start station longitude': 99, (turns into start_lng beg. 202304) (same)
- 'end station id': 99, (turns into end_station_id beg. 202304) (e.g. 386 --> A32011 aka same)
- 'end station name': 99, (turns into end_station_name beg. 202304) (same)
- 'end station latitude': 99, (turns into end_lat beg. 202304) (same)
- 'end station longitude': 99, (turns into end_lng beg. 202304) (same)
- 'usertype': 99(turns into member_casual beg. 202304) (e.g. Customer or Subscriber --> member or casual)

Column names in 64 files (201501 until 202004)
- 'birth year': 64 (e.g. 1984) -- DROPPING
- 'gender': 64 (e.g. 0 or 1 or 2) -- DROPPING

Column names in 35 files (202005 until 202303)
- 'postal code': 35 (e.g. 02118 or NaN) -- DROPPING

Column names in 27 files (202304 to 202506)
- 'ride_id': 27 (begins 202304) (e.g. 0093AA5E7E3E0158) -- DROPPING
- 'rideable_type': 27, (begins 202304) (e.g. docked_bike or classic_bike or electric_bike) -- DROPPING tentatively?

dropping columns: I will delete **birth year, gender, postal code** since those are present in only half or fewer of the rows and not the most imformative. I will drop **ride_id** since not informative and just distinguishes rides from each other, **bikeid** because I don't care too much about particular bike (not sure about htis assumption hm), dropping **tripduration** bc that can be deduced from starttime and endtime (i'll engineer a new col after this). 

also will drop **start station id** and **end station id** bc the format changes halfway and redundant with start and end station name

for now, i will drop **rideable type** bc it's only in 27 rows... however this is a meaningful var to predict other things so will do more research (maybe bluebikes only started offering e bikes a certain year and prior to that there was only classic bike... also idk the diff between classic and docked bike lol so will look into that later but for now drop?)

(might need to rewrite/move) then i'll rename columns, standardize formatting, and visualize with EDA as well as missing values before i decide how to go about filling in missing values

In [189]:
# this takes 1 min 15 sec to run ish

# drop those columns - 
def load_and_clean_csv(filepath):
    
    # read_csv
    df = pd.read_csv(filepath)
    
    # rename cols as needed pass in dict
    renames = {
        'starttime': 'started_at',
        'stoptime': 'ended_at',
        'start station id': 'start_station_id',
        'start station name': 'start_station_name',
        'start station latitude': 'start_lat',
        'start station longitude': 'start_lng',
        'end station id': 'end_station_id',
        'end station name': 'end_station_name',
        'end station latitude': 'end_lat',
        'end station longitude': 'end_lng',
        'usertype' : 'member_casual'
    }
    
    df.rename(columns = renames, inplace=True)
    
    
    # get a subset of columns wanted
    keep_columns = ['started_at', 'ended_at', 'start_station_name',
       'start_station_id', 'start_lat', 'start_lng', 'end_station_id',
       'end_station_name', 'end_lat', 'end_lng', 'member_casual']
    
    df = df[keep_columns]
    
    return df
    
    # for path in pathways:
    #     df = pd.read_csv(start_path + path)
    #     print(f'{path}: {df.columns} : {df.shape[0]} rows')
    #     num_total_rows += df.shape[0]
    #     print(df.iloc[0])
    #     for col in df.columns:
    #         if col not in col_count:
    #             col_count[col] = 0
    #         col_count[col] += 1

    # print(col_count)
    # print(f'Num total rows: {num_total_rows}')
    # return df

# get list of all pathways (this is pathways from prev code cell)

# # get list of dataframes
dfs_list = [load_and_clean_csv(start_path + pathway) for pathway in pathways]

# # concat and get a list of that funciton applied to each pathways
big_df = pd.concat(dfs_list, ignore_index=True)

big_df

,started_at,ended_at,start_station_name,start_station_id,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,member_casual
0,2015-01-01 00:21:44,2015-01-01 00:30:47,Porter Square Station,115,42.387995,-71.119084,96,Cambridge Main Library at Broadway / Trowbridg...,42.373379,-71.111075,Subscriber
1,2015-01-01 00:27:03,2015-01-01 00:34:21,MIT Stata Center at Vassar St / Main St,80,42.361962,-71.092053,95,Cambridge St - at Columbia St / Webster Ave,42.372969,-71.094445,Subscriber
2,2015-01-01 00:31:31,2015-01-01 00:35:46,One Kendall Square at Hampshire St / Portland St,91,42.366277,-71.091690,68,Central Square at Mass Ave / Essex St,42.36507,-71.1031,Subscriber
3,2015-01-01 00:53:46,2015-01-01 01:00:58,Porter Square Station,115,42.387995,-71.119084,96,Cambridge Main Library at Broadway / Trowbridg...,42.373379,-71.111075,Subscriber
4,2015-01-01 01:07:06,2015-01-01 01:19:21,Lower Cambridgeport at Magazine St/Riverside Rd,105,42.356954,-71.113687,88,Inman Square at Vellucci Plaza / Hampshire St,42.374035,-71.101427,Customer
...,...,...,...,...,...,...,...,...,...,...,...
27065605,2025-06-12 20:20:45.355,2025-06-12 21:39:54.807,Tremont St at Northampton St,C32056,42.338432,-71.081690,B32015,Landmark Center - Brookline Ave at Park Dr,42.343691,-71.102353,member
27065606,2025-06-25 17:13:30.010,2025-06-25 17:20:29.507,Park Street T Stop - Tremont St at Park St,B32068,42.356627,-71.062457,C32077,Columbus Ave at W. Canton St,42.344742,-71.076482,member
27065607,2025-06-09 16:03:20.398,2025-06-09 16:31:22.323,Innovation Lab - 125 Western Ave at Batten Way,A32011,42.363713,-71.124598,K32012,Marion St at Harvard St,42.340122,-71.120706,member
27065608,2025-06-03 09:22:41.353,2025-06-03 09:38:11.359,Centre St at Seaverns Ave,E32008,42.313580,-71.114050,B32003,HMS/HSPH - Avenue Louis Pasteur at Longwood Ave,42.337417,-71.102861,member
27065609,2025-06-21 12:34:17.333,2025-06-21 12:55:21.399,Centre St at Seaverns Ave,E32008,42.313580,-71.114050,B32015,Landmark Center - Brookline Ave at Park Dr,42.343691,-71.102353,member

In [ ]:
# gotta fix the datetime for started_at and ended_at, which are diff formats before and after certain index

# 2023-03-01 00:00:44.1520 --> 2023-04-13 13:49:59 beginning 202304

# - 'start station id': 99 (turns into start_station_id beg. 202304) (e.g. 386 --> A32011)
# - 'start station name': 99, (turns into start_station_name beg. 202304) (e.g. Central Square at Mass Ave / Essex St --> seems to stay same!)
# - start station latitude': 99, (turns into start_lat beg. 202304) (e.g. 42.368605 --> 42.363713 stays the same!)
# - 'start station longitude': 99, (turns into start_lng beg. 202304) (same)
# - 'end station id': 99, (turns into end_station_id beg. 202304) (e.g. 386 --> A32011 aka same)
# - 'end station name': 99, (turns into end_station_name beg. 202304) (same)
# - 'end station latitude': 99, (turns into end_lat beg. 202304) (same)
# - 'end station longitude': 99, (turns into end_lng beg. 202304) (same)
# - 'usertype': 99(turns into member_casual beg. 202304) (e.g. Customer or Subscriber --> member or casual)

In [190]:
big_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27065610 entries, 0 to 27065609
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   started_at          object
 1   ended_at            object
 2   start_station_name  object
 3   start_station_id    object
 4   start_lat           float64
 5   start_lng           float64
 6   end_station_id      object
 7   end_station_name    object
 8   end_lat             object
 9   end_lng             object
 10  member_casual       object
dtypes: float64(2), object(9)
memory usage: 2.2+ GB

In [191]:
big_df.describe()

          start_lat     start_lng
count  2.706561e+07  2.706561e+07
mean   4.235804e+01 -7.108889e+01
std    5.348415e-02  8.861284e-02
min    0.000000e+00 -7.356692e+01
25%    4.234828e+01 -7.110594e+01
50%    4.235810e+01 -7.108995e+01
75%    4.236643e+01 -7.106985e+01
max    4.550509e+01  0.000000e+00

In [192]:
big_df.isna().sum()

started_at                0
ended_at                  0
start_station_name     2033
start_station_id       2033
start_lat                 0
start_lng                 0
end_station_id        29036
end_station_name      28417
end_lat               21829
end_lng               21829
member_casual             0
dtype: int64

In [193]:
# view rows with at least one NaN value
big_df[big_df.isna().any(axis=1)]

# notice a lot of these bike rides lasted over a day ... maybe they were abandoned/lost/stolen/data entry error/broken dock so will drop probably
# to test let's engineer a new trip_duration feature from started_at and ended_at

,started_at,ended_at,start_station_name,start_station_id,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,member_casual
17220605,2023-04-18 17:29:09,2023-04-18 19:38:59,Danehy Park,M32031,42.388966,-71.132788,NaN,NaN,NaN,NaN,casual
17220606,2023-04-05 22:36:18,2023-04-13 19:26:02,Day Sq,A32051,42.379295,-71.027733,NaN,NaN,NaN,NaN,casual
17220618,2023-04-25 08:35:05,2023-04-25 09:16:57,359 Broadway - Broadway at Fayette Street,M32026,42.370803,-71.104412,NaN,NaN,NaN,NaN,casual
17220620,2023-04-09 17:30:05,2023-04-15 15:47:25,Blue Hill Ave at Almont St,C32044,42.274621,-71.093726,NaN,NaN,NaN,NaN,casual
17220622,2023-04-24 22:15:25,2023-04-28 14:44:45,Talbot Ave At Blue Hill Ave,C32043,42.294583,-71.087111,NaN,NaN,NaN,NaN,casual
...,...,...,...,...,...,...,...,...,...,...,...
27065551,2025-06-06 18:27:50.927,2025-06-07 19:27:43.969,Forest Hills,E32010,42.300923,-71.114249,NaN,NaN,NaN,NaN,casual
27065565,2025-06-16 16:42:03.580,2025-06-17 00:51:50.667,Commonwealth Ave at Naples Rd,E32016,42.351911,-71.123798,NaN,NaN,42.35,-71.14,casual
27065570,2025-06-05 11:07:18.462,2025-06-06 12:07:14.354,Beacon St at Charles St,D32024,42.356052,-71.069849,NaN,NaN,NaN,NaN,casual
27065577,2025-06-17 12:40:35.574,2025-06-18 13:40:25.827,Government Center - Cambridge St at Court St,B32032,42.359825,-71.059796,NaN,NaN,NaN,NaN,casual
27065603,2025-06-10 08:11:09.117,2025-06-11 09:10:58.043,955 Mass Ave,M32073,42.368952,-71.109988,NaN,NaN,NaN,NaN,casual

In [194]:
# big_df[big_df.isna().any(axis=1)].index

Int64Index([17220605, 17220606, 17220618, 17220620, 17220622, 17220624,
            17220635, 17220638, 17220644, 17220646,
            ...
            27065468, 27065469, 27065479, 27065488, 27065531, 27065551,
            27065565, 27065570, 27065577, 27065603],
           dtype='int64', length=30447)

In [195]:
null_indices = big_df[big_df.isna().any(axis=1)].index.tolist()

KeyboardInterrupt:

In [196]:
null_indices

[17220605,
 17220606,
 17220618,
 17220620,
 17220622,
 17220624,
 17220635,
 17220638,
 17220644,
 17220646,
 17220648,
 17220649,
 17220659,
 17220686,
 17220688,
 17220691,
 17220694,
 17220695,
 17220697,
 17220698,
 17220699,
 17220700,
 17220966,
 17220969,
 17222236,
 17222244,
 17222251,
 17222256,
 17222257,
 17222258,
 17222259,
 17222260,
 17222272,
 17222273,
 17222274,
 17222284,
 17222285,
 17222288,
 17222295,
 17222299,
 17222304,
 17222307,
 17222322,
 17223136,
 17223145,
 17223160,
 17223170,
 17223173,
 17223186,
 17223187,
 17223194,
 17223206,
 17223209,
 17223211,
 17223217,
 17223218,
 17223223,
 17223224,
 17223225,
 17223228,
 17223229,
 17224197,
 17224205,
 17224206,
 17224208,
 17224214,
 17224215,
 17224216,
 17224217,
 17224223,
 17224228,
 17224233,
 17224237,
 17224240,
 17224242,
 17224244,
 17224255,
 17224256,
 17224264,
 17224266,
 17224268,
 17224278,
 17224284,
 17224287,
 17224298,
 17224304,
 17224315,
 17224326,
 17224333,
 17225256,
 17226177,
 17226183,
 17226188,
 17226195,
 17226204,
 17226210,
 17226221,
 17226226,
 17226309,
 17226310,
 17227843,
 17227846,
 17227873,
 17227887,
 17227893,
 17227920,
 17227926,
 17227933,
 17227948,
 17227957,
 17227960,
 17227976,
 17227985,
 17227987,
 17227998,
 17228000,
 17228005,
 17228008,
 17228010,
 17228016,
 17228023,
 17228024,
 17228025,
 17228026,
 17228029,
 17228030,
 17228033,
 17228040,
 17228046,
 17228049,
 17228059,
 17228076,
 17228077,
 17228093,
 17228100,
 17228102,
 17229259,
 17229263,
 17229266,
 17229267,
 17229268,
 17229269,
 17229273,
 17229274,
 17229284,
 17229287,
 17229292,
 17229295,
 17229302,
 17229325,
 17229331,
 17229352,
 17229354,
 17229355,
 17229358,
 17229388,
 17229401,
 17229405,
 17229413,
 17229419,
 17229421,
 17229430,
 17229438,
 17229441,
 17229443,
 17229444,
 17229446,
 17229449,
 17229453,
 17229457,
 17229459,
 17229460,
 17229461,
 17229474,
 17229480,
 17229491,
 17229505,
 17229510,
 17229513,
 17229522,
 17229524,
 17229529,
 17229537,
 17229538,
 17232526,
 17232527,
 17232532,
 17232552,
 17232558,
 17232581,
 17232582,
 17232583,
 17232584,
 17232607,
 17232610,
 17232616,
 17232617,
 17232620,
 17232624,
 17232625,
 17232627,
 17232634,
 17232639,
 17232645,
 17232649,
 17232659,
 17232669,
 17232673,
 17232683,
 17232696,
 17232700,
 17232702,
 17232704,
 17232707,
 17232715,
 17232728,
 17232730,
 17232737,
 17232778,
 17232789,
 17232794,
 17232821,
 17232839,
 17232842,
 17232848,
 17232854,
 17232866,
 17232869,
 17232872,
 17232873,
 17232874,
 17232876,
 17232893,
 17232894,
 17235272,
 17235281,
 17235286,
 17235287,
 17235296,
 17235321,
 17235329,
 17235342,
 17235351,
 17235361,
 17235362,
 17235380,
 17235386,
 17235389,
 17235397,
 17235398,
 17235405,
 17235407,
 17235409,
 17235410,
 17235418,
 17235419,
 17235422,
 17235431,
 17235436,
 17235458,
 17235467,
 17235471,
 17235473,
 17235474,
 17235483,
 17235484,
 17235496,
 17235512,
 17235515,
 17235517,
 17235520,
 17235521,
 17235524,
 17235535,
 17235540,
 17235557,
 17235561,
 17235567,
 17235576,
 17235590,
 17235597,
 17235606,
 17235609,
 17235613,
 17235618,
 17235619,
 17237985,
 17237991,
 17237994,
 17237995,
 17238006,
 17238011,
 17238014,
 17238015,
 17238037,
 17238038,
 17238065,
 17238070,
 17238071,
 17238072,
 17238079,
 17238087,
 17238089,
 17238090,
 17238092,
 17238110,
 17238118,
 17238149,
 17238157,
 17238158,
 17238191,
 17238194,
 17240423,
 17240425,
 17240426,
 17240430,
 17240431,
 17240432,
 17240443,
 17240444,
 17240446,
 17240455,
 17240460,
 17240464,
 17240465,
 17240469,
 17240470,
 17240471,
 17240478,
 17240483,
 17240484,
 17240489,
 17240493,
 17240497,
 17240503,
 17240504,
 17240505,
 17240506,
 17240513,
 17240514,
 17240515,
 17240521,
 17240525,
 17240527,
 17240530,
 17240534,
 17240536,
 17240548,
 17240551,
 17240604,
 17240613,
 17240614,
 17240620,
 17240625,
 17240633,
 17243129,
 17243136,
 17243138,
 17243140,
 17243142,
 17243162,
 17243163,
 17243175,
 17243206,
 17243210,
 17243249,
 17243259,
 17243264,
 17243265,
 17243268,
 17243269,
 17243274,
 17243275,
 17243278,
 17243282,
 17243287,
 17243288,
 17243289,
 17243296,
 17243300,
 17243305,
 17243312,
 17243314,
 17243318,
 17243329,
 17243330,
 17243344,
 17243354,
 17243357,
 17243364,
 17243367,
 17243368,
 17243369,
 17243371,
 17243379,
 17243391,
 17243399,
 17243422,
 17243425,
 17243432,
 17243435,
 17243440,
 17243470,
 17243479,
 17243483,
 17243485,
 17243488,
 17246905,
 17246914,
 17246930,
 17246931,
 17246994,
 17246996,
 17247000,
 17247006,
 17247007,
 17247008,
 17247023,
 17247024,
 17247028,
 17247034,
 17247035,
 17247037,
 17247038,
 17247042,
 17247044,
 17247046,
 17247047,
 17247052,
 17247057,
 17247061,
 17247062,
 17247063,
 17247065,
 17247067,
 17247070,
 17247075,
 17247076,
 17247082,
 17247084,
 17247088,
 17247121,
 17247125,
 17247127,
 17247143,
 17247150,
 17247153,
 17247154,
 17247158,
 17247169,
 17247170,
 17247171,
 17247172,
 17247173,
 17247174,
 17247179,
 17247188,
 17247190,
 17247191,
 17247197,
 17247201,
 17247204,
 17247208,
 17247252,
 17247255,
 17247262,
 17247263,
 17247289,
 17247296,
 17247306,
 17247336,
 17247345,
 17250911,
 17250913,
 17250914,
 17250931,
 17250935,
 17250938,
 17250943,
 17250944,
 17250948,
 17250965,
 17250971,
 17250973,
 17250974,
 17250984,
 17250990,
 17250995,
 17250999,
 17251000,
 17251009,
 17251012,
 17251016,
 17251023,
 17251026,
 17251069,
 17251075,
 17251077,
 17251078,
 17251083,
 17251086,
 17251087,
 17251098,
 17251103,
 17251104,
 17251117,
 17251138,
 17251140,
 17251148,
 17251150,
 17251151,
 17251152,
 17251165,
 17251189,
 17251192,
 17251201,
 17251202,
 17251223,
 17251225,
 17251231,
 17253828,
 17253829,
 17253830,
 17253838,
 17253839,
 17253854,
 17253859,
 17253860,
 17253863,
 17253930,
 17253935,
 17253936,
 17253949,
 17253951,
 17253952,
 17253958,
 17253962,
 17253966,
 17253968,
 17253994,
 17253997,
 17253998,
 17253999,
 17254002,
 17254011,
 17254012,
 17254018,
 17254028,
 17254029,
 17254045,
 17254046,
 17254062,
 17254068,
 17254069,
 17254070,
 17254085,
 17254100,
 17254101,
 17254106,
 17254110,
 17254118,
 17254119,
 17254133,
 17254134,
 17254135,
 17254142,
 17254146,
 17254151,
 17254173,
 17254195,
 17254196,
 17254202,
 17254203,
 17254208,
 17254209,
 17254221,
 17254227,
 17254229,
 17254237,
 17254241,
 17254251,
 17254255,
 17254258,
 17254296,
 17257964,
 17257965,
 17257980,
 17257986,
 17258005,
 17258019,
 17258026,
 17258029,
 17258038,
 17258041,
 17258044,
 17258048,
 17258049,
 17258052,
 17258067,
 17258078,
 17258089,
 17258090,
 17258098,
 17258104,
 17258105,
 17258110,
 17258111,
 17261751,
 17261764,
 17261788,
 17261795,
 17261799,
 17261828,
 17261848,
 17261863,
 17261895,
 17261896,
 17261909,
 17261914,
 17261920,
 17261922,
 17261923,
 17261940,
 17261941,
 17261945,
 17261951,
 17261957,
 17261958,
 17261960,
 17261977,
 17261997,
 17262005,
 17262014,
 17262015,
 17262017,
 17262024,
 17262025,
 17262036,
 17262062,
 17262063,
 17262065,
 17262066,
 17262071,
 17262072,
 17262075,
 17262089,
 17262096,
 17264768,
 17264769,
 17264781,
 17264785,
 17264800,
 17264802,
 17264809,
 17264810,
 17264825,
 17264827,
 17264829,
 17264843,
 17264859,
 17264862,
 17264872,
 17264878,
 17264879,
 17264880,
 17264883,
 17264885,
 17264886,
 17264898,
 17264901,
 17264903,
 17264919,
 17264925,
 17264932,
 17264933,
 17264956,
 17264957,
 17264959,
 17264960,
 17264961,
 17264962,
 17264963,
 17264964,
 17264968,
 17264970,
 17264971,
 17264976,
 17264977,
 17264979,
 17264984,
 17264987,
 17264996,
 17264998,
 17265001,
 17265023,
 17265037,
 17265044,
 17265045,
 17265048,
 17265052,
 17265054,
 17265070,
 17265071,
 17265076,
 17265088,
 17265093,
 17265094,
 17265097,
 17265098,
 17265101,
 17265104,
 17265106,
 17265107,
 17265108,
 17268921,
 17268968,
 17268984,
 17268989,
 17268998,
 17269006,
 17269007,
 17269027,
 17269031,
 17269033,
 17269038,
 17269039,
 17269049,
 17269056,
 17269057,
 17269073,
 17269074,
 17269075,
 17269083,
 17269095,
 17269096,
 17269098,
 17269104,
 17269106,
 17269107,
 17274037,
 17274053,
 17274058,
 17274062,
 17274064,
 17274066,
 17274067,
 17274068,
 17274069,
 17274070,
 17274079,
 17274085,
 17274088,
 17274106,
 17274108,
 17274128,
 17274143,
 17274144,
 17274162,
 17274170,
 17274186,
 17274190,
 17274195,
 17274207,
 17274212,
 17274213,
 17274224,
 17274229,
 17274235,
 17274237,
 17274239,
 17274240,
 17274247,
 17274250,
 17274255,
 17280875,
 17280876,
 17280877,
 17280878,
 17280888,
 17280892,
 17280906,
 17280909,
 17280911,
 17280913,
 17280925,
 17280927,
 17280952,
 17280957,
 17280959,
 17281016,
 17281036,
 17281038,
 17281086,
 17281097,
 17281100,
 17281104,
 17281107,
 17281126,
 17281134,
 17281140,
 17281156,
 17281157,
 17281164,
 17281180,
 17281181,
 17281193,
 17281202,
 17281216,
 17281217,
 17281230,
 17281236,
 17281242,
 17281249,
 17281270,
 17281275,
 17281276,
 17281279,
 17281280,
 17281281,
 17281282,
 17281288,
 17281291,
 17281296,
 17281298,
 17281308,
 17281311,
 17281312,
 17281315,
 17281322,
 17281326,
 17281344,
 17281347,
 17281368,
 17281369,
 17281377,
 17281385,
 17281387,
 17281390,
 17281399,
 17281401,
 17281402,
 17281417,
 17281423,
 17281428,
 17281434,
 17281435,
 17281437,
 17281439,
 17281440,
 17281441,
 17281442,
 17281452,
 17281453,
 17286548,
 17286554,
 17286564,
 17286586,
 17286587,
 17286588,
 17286591,
 17286596,
 17286610,
 17286613,
 17286629,
 17286639,
 17286645,
 17286651,
 17286652,
 17286656,
 17286657,
 17286658,
 17286662,
 17286674,
 17286703,
 17286704,
 17286709,
 17286712,
 17286713,
 17286716,
 17286733,
 17286744,
 17286747,
 17286750,
 17286754,
 17286762,
 17286763,
 17286764,
 17286779,
 17286780,
 17286783,
 17286785,
 17286787,
 17286803,
 17286807,
 17286810,
 17290622,
 17290637,
 17290646,
 17290648,
 17290650,
 17290653,
 17290662,
 17290666,
 17290670,
 17290671,
 17290686,
 17290705,
 17294255,
 17294257,
 17294261,
 17294262,
 17294265,
 17294266,
 17294272,
 17294281,
 17294283,
 17294288,
 17294296,
 17294298,
 17294302,
 17294308,
 17298787,
 17298790,
 17298792,
 17298797,
 17298798,
 17298802,
 17298804,
 17298812,
 17298833,
 17298861,
 17298862,
 17298865,
 17298867,
 17298869,
 17298883,
 17298891,
 17312036,
 17312037,
 17312038,
 17312043,
 17312044,
 17312045,
 17312055,
 17312064,
 17312065,
 17312068,
 17312075,
 17312076,
 17312080,
 17312093,
 17312095,
 17312097,
 17312099,
 17312105,
 17312110,
 17312114,
 17312130,
 17312134,
 17315435,
 17315449,
 17315454,
 17315484,
 17315504,
 17315505,
 17315506,
 17315509,
 17315510,
 17315516,
 17315526,
 17315529,
 17315536,
 17315539,
 17315541,
 17315569,
 17315571,
 17315573,
 17320428,
 17320431,
 17320435,
 17320439,
 17320450,
 17320451,
 17320457,
 17320458,
 17320462,
 17320467,
 17320471,
 17320472,
 17320476,
 17320477,
 17320479,
 17320486,
 17320488,
 17320494,
 17320498,
 17320499,
 17320506,
 17320507,
 17320509,
 ...]

In [197]:
test_rows = big_df.iloc[:2]
test_rows

,started_at,ended_at,start_station_name,start_station_id,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,member_casual
0,2015-01-01 00:21:44,2015-01-01 00:30:47,Porter Square Station,115,42.387995,-71.119084,96,Cambridge Main Library at Broadway / Trowbridg...,42.373379,-71.111075,Subscriber
1,2015-01-01 00:27:03,2015-01-01 00:34:21,MIT Stata Center at Vassar St / Main St,80,42.361962,-71.092053,95,Cambridge St - at Columbia St / Webster Ave,42.372969,-71.094445,Subscriber

In [198]:
type(test_rows.iloc[0]['started_at'])

str

In [199]:
# cast string to datetime
pd.to_datetime(test_rows.iloc[0]['started_at'])

Timestamp('2015-01-01 00:21:44')

In [200]:
# apply to columns
big_df['started_at'] = pd.to_datetime(big_df['started_at'])
big_df['ended_at'] = pd.to_datetime(big_df['ended_at'])

In [201]:
# engineer new duration column
big_df['duration'] = big_df['ended_at'] - big_df['started_at']
big_df.head()

,started_at,ended_at,start_station_name,start_station_id,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,member_casual,duration
0,2015-01-01 00:21:44,2015-01-01 00:30:47,Porter Square Station,115,42.387995,-71.119084,96,Cambridge Main Library at Broadway / Trowbridg...,42.373379,-71.111075,Subscriber,0 days 00:09:03
1,2015-01-01 00:27:03,2015-01-01 00:34:21,MIT Stata Center at Vassar St / Main St,80,42.361962,-71.092053,95,Cambridge St - at Columbia St / Webster Ave,42.372969,-71.094445,Subscriber,0 days 00:07:18
2,2015-01-01 00:31:31,2015-01-01 00:35:46,One Kendall Square at Hampshire St / Portland St,91,42.366277,-71.091690,68,Central Square at Mass Ave / Essex St,42.36507,-71.1031,Subscriber,0 days 00:04:15
3,2015-01-01 00:53:46,2015-01-01 01:00:58,Porter Square Station,115,42.387995,-71.119084,96,Cambridge Main Library at Broadway / Trowbridg...,42.373379,-71.111075,Subscriber,0 days 00:07:12
4,2015-01-01 01:07:06,2015-01-01 01:19:21,Lower Cambridgeport at Magazine St/Riverside Rd,105,42.356954,-71.113687,88,Inman Square at Vellucci Plaza / Hampshire St,42.374035,-71.101427,Customer,0 days 00:12:15

In [202]:
# now let's look again at the null value rows' durations to see if they are removable outliers/exceptions

big_df.loc[null_indices]

,started_at,ended_at,start_station_name,start_station_id,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,member_casual,duration
17220605,2023-04-18 17:29:09.000,2023-04-18 19:38:59.000,Danehy Park,M32031,42.388966,-71.132788,NaN,NaN,NaN,NaN,casual,0 days 02:09:50
17220606,2023-04-05 22:36:18.000,2023-04-13 19:26:02.000,Day Sq,A32051,42.379295,-71.027733,NaN,NaN,NaN,NaN,casual,7 days 20:49:44
17220618,2023-04-25 08:35:05.000,2023-04-25 09:16:57.000,359 Broadway - Broadway at Fayette Street,M32026,42.370803,-71.104412,NaN,NaN,NaN,NaN,casual,0 days 00:41:52
17220620,2023-04-09 17:30:05.000,2023-04-15 15:47:25.000,Blue Hill Ave at Almont St,C32044,42.274621,-71.093726,NaN,NaN,NaN,NaN,casual,5 days 22:17:20
17220622,2023-04-24 22:15:25.000,2023-04-28 14:44:45.000,Talbot Ave At Blue Hill Ave,C32043,42.294583,-71.087111,NaN,NaN,NaN,NaN,casual,3 days 16:29:20
...,...,...,...,...,...,...,...,...,...,...,...,...
27065551,2025-06-06 18:27:50.927,2025-06-07 19:27:43.969,Forest Hills,E32010,42.300923,-71.114249,NaN,NaN,NaN,NaN,casual,1 days 00:59:53.042000
27065565,2025-06-16 16:42:03.580,2025-06-17 00:51:50.667,Commonwealth Ave at Naples Rd,E32016,42.351911,-71.123798,NaN,NaN,42.35,-71.14,casual,0 days 08:09:47.087000
27065570,2025-06-05 11:07:18.462,2025-06-06 12:07:14.354,Beacon St at Charles St,D32024,42.356052,-71.069849,NaN,NaN,NaN,NaN,casual,1 days 00:59:55.892000
27065577,2025-06-17 12:40:35.574,2025-06-18 13:40:25.827,Government Center - Cambridge St at Court St,B32032,42.359825,-71.059796,NaN,NaN,NaN,NaN,casual,1 days 00:59:50.253000
27065603,2025-06-10 08:11:09.117,2025-06-11 09:10:58.043,955 Mass Ave,M32073,42.368952,-71.109988,NaN,NaN,NaN,NaN,casual,1 days 00:59:48.926000

In [203]:
# if we remove null values then what are the stats

big_df.loc[null_indices]

,started_at,ended_at,start_station_name,start_station_id,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,member_casual,duration
17220605,2023-04-18 17:29:09.000,2023-04-18 19:38:59.000,Danehy Park,M32031,42.388966,-71.132788,NaN,NaN,NaN,NaN,casual,0 days 02:09:50
17220606,2023-04-05 22:36:18.000,2023-04-13 19:26:02.000,Day Sq,A32051,42.379295,-71.027733,NaN,NaN,NaN,NaN,casual,7 days 20:49:44
17220618,2023-04-25 08:35:05.000,2023-04-25 09:16:57.000,359 Broadway - Broadway at Fayette Street,M32026,42.370803,-71.104412,NaN,NaN,NaN,NaN,casual,0 days 00:41:52
17220620,2023-04-09 17:30:05.000,2023-04-15 15:47:25.000,Blue Hill Ave at Almont St,C32044,42.274621,-71.093726,NaN,NaN,NaN,NaN,casual,5 days 22:17:20
17220622,2023-04-24 22:15:25.000,2023-04-28 14:44:45.000,Talbot Ave At Blue Hill Ave,C32043,42.294583,-71.087111,NaN,NaN,NaN,NaN,casual,3 days 16:29:20
...,...,...,...,...,...,...,...,...,...,...,...,...
27065551,2025-06-06 18:27:50.927,2025-06-07 19:27:43.969,Forest Hills,E32010,42.300923,-71.114249,NaN,NaN,NaN,NaN,casual,1 days 00:59:53.042000
27065565,2025-06-16 16:42:03.580,2025-06-17 00:51:50.667,Commonwealth Ave at Naples Rd,E32016,42.351911,-71.123798,NaN,NaN,42.35,-71.14,casual,0 days 08:09:47.087000
27065570,2025-06-05 11:07:18.462,2025-06-06 12:07:14.354,Beacon St at Charles St,D32024,42.356052,-71.069849,NaN,NaN,NaN,NaN,casual,1 days 00:59:55.892000
27065577,2025-06-17 12:40:35.574,2025-06-18 13:40:25.827,Government Center - Cambridge St at Court St,B32032,42.359825,-71.059796,NaN,NaN,NaN,NaN,casual,1 days 00:59:50.253000
27065603,2025-06-10 08:11:09.117,2025-06-11 09:10:58.043,955 Mass Ave,M32073,42.368952,-71.109988,NaN,NaN,NaN,NaN,casual,1 days 00:59:48.926000

In [204]:
big_df.head()

,started_at,ended_at,start_station_name,start_station_id,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,member_casual,duration
0,2015-01-01 00:21:44,2015-01-01 00:30:47,Porter Square Station,115,42.387995,-71.119084,96,Cambridge Main Library at Broadway / Trowbridg...,42.373379,-71.111075,Subscriber,0 days 00:09:03
1,2015-01-01 00:27:03,2015-01-01 00:34:21,MIT Stata Center at Vassar St / Main St,80,42.361962,-71.092053,95,Cambridge St - at Columbia St / Webster Ave,42.372969,-71.094445,Subscriber,0 days 00:07:18
2,2015-01-01 00:31:31,2015-01-01 00:35:46,One Kendall Square at Hampshire St / Portland St,91,42.366277,-71.091690,68,Central Square at Mass Ave / Essex St,42.36507,-71.1031,Subscriber,0 days 00:04:15
3,2015-01-01 00:53:46,2015-01-01 01:00:58,Porter Square Station,115,42.387995,-71.119084,96,Cambridge Main Library at Broadway / Trowbridg...,42.373379,-71.111075,Subscriber,0 days 00:07:12
4,2015-01-01 01:07:06,2015-01-01 01:19:21,Lower Cambridgeport at Magazine St/Riverside Rd,105,42.356954,-71.113687,88,Inman Square at Vellucci Plaza / Hampshire St,42.374035,-71.101427,Customer,0 days 00:12:15

In [205]:
# seem sus indeed! so we gonna drop those null rows

clean_df = big_df[big_df.notna().all(axis=1)]

In [206]:
clean_df.shape[0]

27035163

yas we got 27,035,163 clean rows now

In [207]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27035163 entries, 0 to 27065609
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   started_at          datetime64[ns]
 1   ended_at            datetime64[ns]
 2   start_station_name  object
 3   start_station_id    object
 4   start_lat           float64
 5   start_lng           float64
 6   end_station_id      object
 7   end_station_name    object
 8   end_lat             object
 9   end_lng             object
 10  member_casual       object
 11  duration            timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), object(7), timedelta64[ns](1)
memory usage: 2.6+ GB

In [208]:
clean_df.describe()

          start_lat     start_lng                   duration
count  2.703516e+07  2.703516e+07                   27035163
mean   4.235804e+01 -7.108889e+01  0 days 00:25:02.690534287
std    5.350630e-02  8.865524e-02  0 days 11:32:14.512574284
min    0.000000e+00 -7.356692e+01          -1 days +23:05:22
25%    4.234828e+01 -7.110594e+01     0 days 00:06:58.086000
50%    4.235810e+01 -7.108995e+01     0 days 00:11:41.707000
75%    4.236643e+01 -7.106985e+01            0 days 00:19:37
max    4.550509e+01  0.000000e+00   492 days 15:12:17.825000

uhhhh min of like negative duration seems sussy... BRUH max duration is 492 days

GOOTA INVESTIGATE

In [ ]:
from datetime import timedelta

# investgiate durationnnnnn

# to DOOOOOO

clean_df[clean_df['duration'] > timedelta(days=1)]

# gonna filter out lol

,started_at,ended_at,start_station_name,start_station_id,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,member_casual,duration
1495,2015-01-08 01:06:37.000,2015-01-09 14:39:54.000,Lechmere Station at Cambridge St / First St,90,42.370677,-71.076529,1,18 Dorrance Warehouse,42.387151,-71.075978,Subscriber,1 days 13:33:17
4064,2015-01-17 13:55:59.000,2015-01-19 11:21:08.000,MIT at Mass Ave / Amherst St,67,42.358100,-71.093198,1,18 Dorrance Warehouse,42.387151,-71.075978,Subscriber,1 days 21:25:09
7168,2015-01-26 17:14:12.000,2015-01-29 09:46:11.000,Ames St at Main St,107,42.362500,-71.088220,67,MIT at Mass Ave / Amherst St,42.3581,-71.093198,Customer,2 days 16:31:59
8562,2015-02-06 15:31:02.000,2015-02-08 11:03:53.000,Harvard University Gund Hall at Quincy St / Ki...,110,42.376369,-71.114025,87,Harvard University Housing - 115 Putnam Ave at...,42.366621,-71.114214,Subscriber,1 days 19:32:51
9228,2015-02-13 08:04:02.000,2015-02-14 10:23:49.000,Lafayette Square at Mass Ave / Main St / Colum...,75,42.363465,-71.100573,107,Ames St at Main St,42.3625,-71.08822,Customer,1 days 02:19:47
...,...,...,...,...,...,...,...,...,...,...,...,...
26803560,2025-06-29 11:50:47.357,2025-06-30 12:47:52.438,Boylston St at Fairfield St,C32008,42.348804,-71.082369,D32018,Boston Convention and Exhibition Center - Summ...,42.347763,-71.04536,casual,1 days 00:57:05.081000
26868490,2025-06-15 19:13:16.445,2025-06-16 19:35:06.237,Alewife Station at Russell Field,M32033,42.396232,-71.139788,S32006,Davis Square,42.396969,-71.123024,casual,1 days 00:21:49.792000
26869040,2025-06-23 06:57:30.021,2025-06-24 07:38:40.778,Cambridge Crossing at North First Street,M32077,42.371141,-71.076198,M32048,Third at Binney,42.365445,-71.082771,casual,1 days 00:41:10.757000
26955634,2025-06-07 13:06:51.222,2025-06-08 13:28:51.492,Washington Sq,K32011,42.339858,-71.134212,D32035,Harvard Ave at Brainerd Rd,42.34953,-71.130228,casual,1 days 00:22:00.270000
27064815,2025-05-31 12:50:05.641,2025-06-01 13:35:06.729,Beacon St at Charles St,D32024,42.356052,-71.069849,K32012,Marion St at Harvard St,42.340122,-71.120706,casual,1 days 00:45:01.088000

In [ ]:
# also check durations < 0
clean_df[clean_df['duration'] < timedelta(days=0)] 

# lol deleting these two bc no es possible

,started_at,ended_at,start_station_name,start_station_id,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,member_casual,duration
984979,2015-11-01 01:44:08.000,2015-11-01 01:08:25.000,Union Square - Brighton Ave. at Cambridge St.,8,42.353334,-71.137313,76,Central Sq Post Office / Cambridge City Hall a...,42.366426,-71.105495,Subscriber,-1 days +23:24:17
984980,2015-11-01 01:47:16.000,2015-11-01 01:03:13.000,Inman Square at Vellucci Plaza / Hampshire St,88,42.374035,-71.101427,74,Harvard Square at Mass Ave/ Dunster,42.373268,-71.118579,Subscriber,-1 days +23:15:57
984981,2015-11-01 01:48:11.000,2015-11-01 01:13:02.000,Columbus Ave. at Mass. Ave.,57,42.340799,-71.081572,132,Summer St at Cutter St,42.394002,-71.120406,Subscriber,-1 days +23:24:51
984985,2015-11-01 01:50:17.000,2015-11-01 01:32:53.000,West Broadway at Dorchester St,121,42.335693,-71.045859,13,Boston Medical Center - East Concord at Harri...,42.336437,-71.073089,Subscriber,-1 days +23:42:36
984986,2015-11-01 01:50:36.000,2015-11-01 01:28:45.000,West Broadway at Dorchester St,121,42.335693,-71.045859,13,Boston Medical Center - East Concord at Harri...,42.336437,-71.073089,Subscriber,-1 days +23:38:09
...,...,...,...,...,...,...,...,...,...,...,...,...
24864789,2024-11-03 01:35:18.803,2024-11-03 01:01:15.174,Chinatown Gate Plaza,D32015,42.351356,-71.059367,M32012,Central Sq Post Office / Cambridge City Hall a...,42.366426,-71.105495,casual,-1 days +23:25:56.371000
24924629,2024-11-03 01:46:23.903,2024-11-03 01:00:37.868,Inman Square at Springfield St.,M32062,42.374267,-71.100265,D32010,Cross St at Hanover St,42.362811,-71.056067,member,-1 days +23:14:13.965000
24953416,2024-11-03 01:49:41.708,2024-11-03 01:02:27.414,Clinton St at North St,D32057,42.360703,-71.055249,V32011,Broadway at Beacham St,42.398361,-71.063738,member,-1 days +23:12:45.706000
24955104,2024-11-03 01:44:19.671,2024-11-03 01:14:05.677,Boylston St at Arlington St,D32007,42.352052,-71.070360,S32018,Assembly Square T,42.392233,-71.077466,casual,-1 days +23:29:46.006000
24964920,2024-11-03 01:43:21.763,2024-11-03 01:09:01.345,University of Massachusetts Boston - Campus Ce...,C32014,42.312189,-71.036486,C32090,Geiger Gibson Community Health Center,42.318865,-71.045368,casual,-1 days +23:25:39.582000

In [216]:
clean_df = clean_df[(clean_df['duration'] < timedelta(days=1)) & (clean_df['duration'] > timedelta(0))]

In [217]:
clean_df.info()
# yay final df!

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27015461 entries, 0 to 27065609
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   started_at          datetime64[ns]
 1   ended_at            datetime64[ns]
 2   start_station_name  object
 3   start_station_id    object
 4   start_lat           float64
 5   start_lng           float64
 6   end_station_id      object
 7   end_station_name    object
 8   end_lat             object
 9   end_lng             object
 10  member_casual       object
 11  duration            timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), object(7), timedelta64[ns](1)
memory usage: 2.6+ GB

In [218]:
clean_df.describe()

          start_lat     start_lng                   duration
count  2.701546e+07  2.701546e+07                   27015461
mean   4.235804e+01 -7.108890e+01  0 days 00:17:25.553920026
std    5.289558e-02  8.762087e-02  0 days 00:34:13.984093683
min    0.000000e+00 -7.356692e+01            0 days 00:00:01
25%    4.234828e+01 -7.110594e+01            0 days 00:06:58
50%    4.235810e+01 -7.108995e+01     0 days 00:11:41.031000
75%    4.236643e+01 -7.106985e+01     0 days 00:19:35.317000
max    4.550509e+01  0.000000e+00            0 days 23:59:58

In [219]:
clean_df.isna().sum()

started_at            0
ended_at              0
start_station_name    0
start_station_id      0
start_lat             0
start_lng             0
end_station_id        0
end_station_name      0
end_lat               0
end_lng               0
member_casual         0
duration              0
dtype: int64

YAY no null values. and duration seems reasonable. let's double check unique values of each column now as final preprocessing

In [ ]:
# check unique values for categorical cols like station names and ids and member_casual

clean_df.columns

Index(['started_at', 'ended_at', 'start_station_name', 'start_station_id',
       'start_lat', 'start_lng', 'end_station_id', 'end_station_name',
       'end_lat', 'end_lng', 'member_casual', 'duration'],
      dtype='object')

In [243]:
start_names = clean_df["start_station_name"].unique().sort()
end_names = clean_df["end_station_name"].unique().sort()
start_id = clean_df["start_station_id"].unique().sort()
end_id = clean_df["end_station_id"].unique().sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [244]:
start_names

In [241]:
from collections import Counter
# start_names == end_names # lol compare them to see if they are identical or nah
# start_id == end_id

print(Counter(start_names) == Counter(end_names))
print(Counter(start_id) == Counter(end_id))

False
False

In [ ]:
# rename columns
# standardize formatting e.g. starttime

In [ ]:
# eda techniques

# EDA